body {
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}
.headzin {
    text-align: center;
}
.imgvns {
    border: 3px solid darkslateblue;
    border-radius: 350px;
}
#title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
a {
    text-decoration: line-through;
    color: slateblue;
}

#title, .subtitle, .lasttitle {
    color: indigo;
    font-style: italic;
    text-align: center;
} 

.posttitle {
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
    text-align: center;
}
.post {
    background: #fff;
    padding: 10px;
    border: 3px solid darkslateblue;
    border-radius: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.postimg {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.list{
    list-style-type: none;
    padding: 0;
    padding-left: 15px;
    color: indigo;
    text-align: center;
}
.list, li, a {
    text-decoration: none;
}
